/* pt-sans-regular - latin_cyrillic */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v9-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v9-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v9-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans','Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
	text-align: center;

	background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-list,
.advantage-list,
.characteristic-list,
.toggle-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav {
   position: relative;
   width: 1200px;
   box-sizing: border-box;
   min-height: 56px;
   line-height: 26px;
   padding: 15px 72px;
   font-weight: 700;
   color: #000000;

  background-color: #ffffff;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
}

.nav-item {
	width: 240px;
	text-align: left;
}

.nav-item:nth-child(3) {
	margin-left: auto;
}

.nav-item:nth-child(3),
.nav-item:nth-child(4) {
	text-align: right;
}

.main-logo {
	position: absolute;
	top: 0;
	left: 530px;
	width: 138px;
	height: 70px;
}

.nav-list a,
.info-more a {
	color: #000000;
}

.nav-list a:hover,
.info-more a:hover {
	color: #81b3d2;
}

.nav-list a:active,
.info-more a:active {
	color: rgba(0, 0, 0, 0.3); 
}

a.active-url {
	color: #766357;
}

.wrap{
	min-width: 768px;
	max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
    
    background-color: #ffffff;
}

.welcome-part {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	min-height: 510px;
	margin-bottom: 60px;

	background-image: 
				url("../img/background-shape.png"),
				url("../img/background-photo.jpg");
	background-repeat:
				no-repeat, no-repeat;
	background-size: 
				100% 57px, auto;
	background-position: 
				center bottom, 0 20%;			
	background-color: #40799f;
}

.description-part {
	display: flex;
	width: 1200px;
	justify-content: center;
	margin-bottom: 40px;
}

.description-part p {
	margin-top: 30px;
}

.highlight {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.advantage,
.advantage-list {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	min-height: 256px;
	box-sizing: border-box;
}

.advantage-text {
	width: 400px;
	min-height: 256px;
	padding: 45px 50px;
	box-sizing: border-box;
}

.advantage-title {
	width: 151px;
	margin: 0 auto 25px auto;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	color: #000000;
}

.advantage-picture {
	display: flex;
	align-items: center;
	width: 800px;
	height: 256px;
	overflow: hidden;
}

.second .advantage-text {
	order: 2;
	padding: 45px 40px;
}

.third-fifth .advantage-text {
	padding: 45px 70.5px;
}

.first .advantage-text,
.second .advantage-text {
	color: #ffffff;

	background-color: #81b3d2;
}

.advantage-description {
	margin-top: 20px;
}

.first .advantage-title,
.second .advantage-title {
	color: #ffffff;
}

.advantage.third-fifth {
	background-color: #eeeeee;
}

li.advantage-text {
	position: relative;
	min-height: 330px;
	padding: 160px 50px 65px;
}

li.advantage-text::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 40%;
	width: 76px;
	height: 76px;
	
	background-repeat: no-repeat;
}

li.advantage-text:first-child::before {
	background-image: url("../img/icon-house.svg");
}

li.advantage-text:nth-child(2)::before {
	background-image: url("../img/icon-food.svg");
}

li.advantage-text:last-child::before  {
	top: 56px;
	left: 42%;
	background-image: url("../img/icon-souvenir.svg");
}

.search-module {
	width: 568px;

	background-color: #ffffff;
}
.housing-search {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	min-height: 240px;
	padding-top: 50px;
}

.search-text {
	line-height: 24px;
	margin-top: 23px;
	margin-bottom: 46px;
}
.search-title  {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.search-form {
	position: absolute;
	width: 568px;
	min-height: 395px;
	padding: 55px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.button {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	padding: 3px 17px;
	border: none;
}

.search-module button[name="search-button"] {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	padding: 30px 139px;
	
	background-color: #766357;
	border: none;
}

.search-module button[name="search-button"]:hover,
a.btn.book:hover {
	background-color: #604e43;
}

.search-module button[name="search-button"]:active,
a.btn.book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-item {
	margin-top: 0;
	margin-bottom: 30px;
	position: relative;
	box-sizing: border-box;
}

.search-form label {
	margin-right: 16px;
}

.search-form label,
.search-form input {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.search-form input[name="date-entry"],
.search-form input[name="date-departure"] {
	width: 346px;
	height: 38px;
	padding: 6px 13px; 
	color: #000000;
	text-transform: uppercase;
	text-align: left;

	background-color: #f2f2f2;
	box-sizing: border-box;
	border: none;
}

.search-form input[name="date-entry"]:hover,
.search-form input[name="date-departure"]:hover {
	background-color: #ebebeb;
}

.search-form input[name="date-entry"]:active,
.search-form input[name="date-departure"]:active {
	background-color: transparent;
	border: 2px solid #e5e5e5;
}

.icon-calendar svg {
	position: absolute;
	top: 22%;
	right: 2%;
	width: 21px;
	height: 22px;
	fill: #cacaca;
}

.icon-calendar:hover path,
.icon-calendar:hover rect,
.toggle-up:hover polygon{
	fill: #000000;
}

.icon-calendar:active path,
.icon-calendar:active rect,
.toggle-up:active polygon{
	fill: #81b3d2;
}

.modal-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 54px;
}

.modal-wrap .search-item {
	margin-bottom: 0;
}

label[for="grownup-group"] {
	margin-right: 35px;
}

label[for="children-group"] {
	margin-right: 25px;
}

input[id="grownup-group"],
input[id="children-group"] {
	position: relative;
	width: 114px;
	height: 38px;
	padding: 6px 14px;
	text-align: center;
	background-color: #f2f2f2;
	border: none;
	box-sizing: border-box;
}

button[name="plus"],
button[name="minus"] {
	position: absolute;
	bottom: 0;
	width: 38px;
	height: 38px;
	background-color: transparent;
	border: none;
}

button[name="plus"] {
	right: 0%;
	top: 5%;
}

button[name="minus"] {
	left: 50%;
}

button[name="minus"].children {
	left: 37%;
}

button[name="minus"]::before,
button[name="plus"]::before,
button[name="plus"]::after {
	content: "";
	display: block;
	width: 12px;
	height: 3px;
	margin: 0 auto;
	background-color: #a9a9a9;
}

button[name="plus"]::after {
    transform: rotate(90deg) translate(-3px);
}

button[name="minus"]:hover::before,
button[name="plus"]:hover::before,
button[name="plus"]:hover::after {
	background-color: #000000;
}

button[name="minus"]:active::before,
button[name="plus"]:active::before,
button[name="plus"]:active::after {
	background-color: #81b3d2;
}

a.button.highlight{
	width: 458px;
	height: 58px;
	padding: 16px; 
	color: #ffffff;
	
	box-sizing: border-box;
}

a.button.highlight:hover,
a.button:hover {
	background-color: #669ec0;
}

a.button.highlight:active,
a.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.search-map {
	width: 1200px;
	height: 473px;

	background-color: #cbdda9;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: 50% 57%;
}

.footer-logo span {
	color: #000000;
	line-height: 21px;
	text-decoration: none;
}
.filters {
	width: 1200px;
	min-height: 217px;
	color: #ffffff;
	padding: 27px 72px; 

	background-color: #44719a;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: top;
	box-sizing: border-box;
}

.filter-selection {
	display: flex;
	width: 1056px;
}

.filter-selection fieldset {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	width: 255px;
	text-align: left;
 	border: none;
}

.filter-selection fieldset:last-child {
	margin-left: auto;
	width: 330px;
}


.filter-selection legend {
	margin-left: 14px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
}

.price-controls {
	position: relative;
    height: 33px;
    margin-bottom: 20px;
    margin-left: 14px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 60px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
    margin-left: 14px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

button.button.filter {
	display: block;
    margin: 0 auto;
    padding: 6px 35px 8px;

	border: 2px solid #ffffff;
	background-color: transparent;
	border-radius: 2px;
    cursor: pointer;
}

button.button.filter:hover {
    color: #000000;

    background-color: #ffffff;
}

.search-parameter {
	display: flex;
	align-items: baseline; 
	width: 1200px;
	min-height: 90px;
	padding: 28px 72px 15px;

	font-size: 12px;
	line-height: 18px;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fefefe;
}

.search-parameter .found {
	width: 165px;
	text-align: left;
}

.search-characteristic{
	display: flex;
	width: 895px;
}

.search-characteristic span {
	font-size: 12px;
	line-height: 18px;
	padding-right: 40px;
}

.characteristic-list {
	display: flex;
	justify-content: space-between;
	width: 240px;
} 

ul.characteristic-list a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
}

.characteristic-item a {
	border-bottom: 1px dashed #81b3d2;
}

.characteristic-item a:hover {
	color: #81b3d2;
}

.characteristic-item a:active {
	color: #000000;
	border: none;
}

.characteristic-item a.active-current {
	color: #81b3d2;
	border: none;
}

.toggle-list {
	width: 35px;
	margin-left: auto;
}

.toggle-list li {
	position: relative;
	box-sizing: border-box;
}

a.toggle-up {
	position: absolute;
	top: 2px;
    left: 0px;
    width: 10px;
	height: 11px;
}

a.toggle-down.current {
	position: absolute;
	top: 0px;
    right: 0px;
	width: 10px;
	height: 11px;
}

.results {
	width: 1200px;
	background-color: #fefefe;	
}

.results-item {
	display: flex;
	width: 1200px;
	min-height: 150px;
	padding: 25px 72px; 
	text-align: left;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
}

.results-image {
	width: 165px;
}

.results-image img {
	width: 135px;
	height: 90px;
}

.results-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 365px;
}

h3.info-more {
	margin-top: 0;
	margin-bottom: 3px;
}

.about-hotel {
	display: flex;
}

.about-hotel span {
	margin-bottom: 15px;
}

.wrap-more,
.wrap-book {
	display: flex;
	flex-direction: column;
	margin-right: 6px;
}

.results-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: auto;
	width: 240px;
}

.rating-stars {
	display: flex;
	flex-wrap: wrap;
}

.stars-icon {
	width: 18px;
	height: 17px;
	margin-left: 5px;

	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
}

a.button {
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	text-decoration: none;
}

a.button.book {
	background-color: #766357;
}

.rating-total span {
	padding: 3px 14px;
	color: #666666;
	background-color: #f2f2f2;
}

.main-footer {
	display: flex;
	flex-wrap: wrap;
	padding: 36px 0;
	width: 1200px;
	background-color: rgba(254, 254, 254, 0.9);
	box-sizing: border-box;
}

.main-footer div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
}

.footer-logo span {
	margin-right: 9px;
}

.footer-logo a {
	width: 115px;
	height: 41px;
}

a.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	width: 46px;
	height: 48px;

	background-color: #89b8d5;
}

a.social:hover {
	background-color: #669ec0;
}

a.social:active,
a.social:active path { 
 	fill: #88b6d1;
	background-color: #5496bd;
}

.logo-academy:hover path,
.logo-academy:hover rect {
	fill: #88b6d1;
}

.logo-academy:active path,
.logo-academy:active rect {
	fill: #bdbbbc;
}